In [1]:
from pyspark.sql import SparkSession
from operator import add

# New API
spark_session = SparkSession\
        .builder\
        .master("spark://192.168.2.119:7077") \
        .appName("xiaoxia_a3b")\
        .config("spark.dynamicAllocation.enabled", True)\
        .config("spark.dynamicAllocation.shuffleTracking.enabled",True)\
        .config("spark.shuffle.service.enabled", False)\
        .config("spark.dynamicAllocation.executorIdleTimeout","30s")\
        .config("spark.executor.cores",2)\
        .config("spark.driver.port",9998)\
        .config("spark.blockManager.port",10005)\
        .getOrCreate()

# Old API (RDD)
spark_context = spark_session.sparkContext

spark_context.setLogLevel("ERROR")

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/14 07:04:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/03/14 07:04:25 WARN ExecutorAllocationManager: Dynamic allocation without a shuffle service is an experimental feature.

In [2]:
# B1
data_frame = spark_session.read\
    .option("header", "true")\
    .csv('hdfs://host-192-168-2-119-de1:9000/parking-citations.csv')\
    .cache()

data_frame.show()

+-------------+--------------------+----------+--------+-----------+--------------+-----------------+----+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+---------+---------+------------------+-----------------+----------------------+
|Ticket number|          Issue Date|Issue time|Meter Id|Marked Time|RP State Plate|Plate Expiry Date| VIN|Make|Body Style|Color|            Location|Route|Agency|Violation code|Violation Description|Fine amount| Latitude|Longitude|Agency Description|Color Description|Body Style Description|
+-------------+--------------------+----------+--------+-----------+--------------+-----------------+----+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+---------+---------+------------------+-----------------+----------------------+
|   1103341116|2015-12-21T00:00:...|      1251|    null|       null|            CA|           200304|null|HOND|        PA|   GY|     13147 WELBY WAY|01521|     1|        4000A1|   NO EVIDENCE OF REG|         50|    99999|    99999|              null|             null|                  null|
|   1103700150|2015-12-21T00:00:...|      1435|    null|       null|            CA|           201512|null| GMC|        VN|   WH|       525 S MAIN ST| 1C51|     1|        4000A1|   NO EVIDENCE OF REG|         50|    99999|    99999|              null|             null|                  null|
|   1104803000|2015-12-21T00:00:...|      2055|    null|       null|            CA|           201503|null|NISS|        PA|   BK|       200 WORLD WAY|  2R2|     2|          8939|           WHITE CURB|         58|6439997.9|1802686.4|              null|             null|                  null|
|   1104820732|2015-12-26T00:00:...|      1515|    null|       null|            CA|             null|null|ACUR|        PA|   WH|       100 WORLD WAY| 2F11|     2|           000|               17104h|       null|6440041.1|1802686.2|              null|             null|                  null|
|   1105461453|2015-09-15T00:00:...|       115|    null|       null|            CA|           200316|null|CHEV|        PA|   BK|  GEORGIA ST/OLYMPIC|1FB70|     1|         8069A| NO STOPPING/STANDING|         93|    99999|    99999|              null|             null|                  null|
|   1106226590|2015-09-15T00:00:...|        19|    null|       null|            CA|           201507|null|CHEV|        VN|   GY|  SAN PEDRO S/O BOYD|1A35W|     1|        4000A1|   NO EVIDENCE OF REG|         50|    99999|    99999|              null|             null|                  null|
|   1106500452|2015-12-17T00:00:...|      1710|    null|       null|            CA|           201605|null|MAZD|        PA|   BL|     SUNSET/ALVARADO|00217|     1|          8070| PARK IN GRID LOCK ZN|        163|    99999|    99999|              null|             null|                  null|
|   1106500463|2015-12-17T00:00:...|      1710|    null|       null|            CA|           201602|null|TOYO|        PA|   BK|     SUNSET/ALVARADO|00217|     1|          8070| PARK IN GRID LOCK ZN|        163|    99999|    99999|              null|             null|                  null|
|   1106506402|2015-12-22T00:00:...|       945|    null|       null|            CA|           201605|null|CHEV|        PA|   BR|      721 S WESTLAKE| 2A75|     1|        8069AA|     NO STOP/STAND AM|         93|    99999|    99999|              null|             null|                  null|
|   1106506413|2015-12-22T00:00:...|      1100|    null|       null|            CA|           201701|null|NISS|        PA|   SI|     1159 HUNTLEY DR| 2A75|     1|        8069AA|     NO STOP/STAND AM|         93|    99999|    99999|              null|             null|                  null|
|   1106506424|2015-12-22T00:00:...|      1100|    null|       null|            CA|           201511|null|FORD|        TR|   WH|     1159 HUNTLEY DR| 2A75|     1|        8069AA|     NO STOP/STAND AM|         93|    99999|    99999|              null|             null|                  null|
|   1106506435|2015-12-22T00:00:...|      1105|    null|       null|            CA|           201701|null|CHRY|        PA|   GO|     1159 HUNTLEY DR| 2A75|     1|        8069AA|     NO STOP/STAND AM|         93|    99999|    99999|              null|             null|                  null|
|   1106506446|2015-12-22T00:00:...|      1110|    null|       null|            CA|           201511|null| BMW|        PA|   BK|      1200 W MIRAMAR| 2A75|     1|        4000A1|   NO EVIDENCE OF REG|         50|    99999|    99999|              null|             null|                  null|
|   1106549754|2015-12-15T00:00:...|       825|    null|       null|            CA|           201607|null|PTRB|        TR|   BK|           4TH/STATE| CM96|     1|         8069A| NO STOPPING/STANDING|         93|    99999|    99999|              null|             null|                  null|
|   1107179581|2015-12-27T00:00:...|      1055|    null|       null|            CA|           201605|null|TOYO|        PA|   BK|3100 N HOLLYRIDGE DR| null|    54|         8058L|         PREF PARKING|         68|    99999|    99999|              null|             null|                  null|
|   1107179592|2015-12-27T00:00:...|      1200|    null|       null|            CA|           201602|null|MBNZ|        PA|   BK|   3115 N BERENDO DR| null|    54|         8058L|         PREF PARKING|         68|    99999|    99999|              null|             null|                  null|
|   1107179603|2015-12-27T00:00:...|      1400|    null|       null|            CA|           201611|null|NISS|        PA|   WH| 3100 N BEACHWOOD DR| null|    54|         8058L|         PREF PARKING|         68|    99999|    99999|              null|             null|                  null|
|   1107539823|2015-09-16T00:00:...|      2120|    null|       null|            CA|           201502|null|NISS|        PA| null|      BLAINE/11TH PL|1FB95|     1|        4000A1|   NO EVIDENCE OF REG|         50|    99999|    99999|              null|             null|                  null|
|   1107539834|2015-09-16T00:00:...|      1045|    null|       null|            CA|             null|null|CHEV|        PA|   BK|  1246 S FIGUEROA ST| 1L20|     1|        8069AP|     NO STOP/STAND PM|         93|    99999|    99999|              null|             null|                  null|
|   1107780811|2015-12-22T00:00:...|      1102|    null|       null|            CA|           201606|null|HOND|        PA|   BK|       PLATA/RAMPART|  2A1|     1|         8069B|           NO PARKING|         73|    99999|    99999|              null|             null|                  null|
+-------------+--------------------+----------+--------+-----------+--------------+-----------------+----+----+----------+-----+--------------------+-----+------+--------------+---------------------+-----------+---------+---------+------------------+-----------------+----------------------+
only showing top 20 rows

In [3]:
print(spark_context.uiWebUrl)

http://host-192-168-2-242-de1:4040

In [4]:
# B2
data_frame.printSchema()

root
 |-- Ticket number: string (nullable = true)
 |-- Issue Date: string (nullable = true)
 |-- Issue time: string (nullable = true)
 |-- Meter Id: string (nullable = true)
 |-- Marked Time: string (nullable = true)
 |-- RP State Plate: string (nullable = true)
 |-- Plate Expiry Date: string (nullable = true)
 |-- VIN: string (nullable = true)
 |-- Make: string (nullable = true)
 |-- Body Style: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Route: string (nullable = true)
 |-- Agency: string (nullable = true)
 |-- Violation code: string (nullable = true)
 |-- Violation Description: string (nullable = true)
 |-- Fine amount: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Agency Description: string (nullable = true)
 |-- Color Description: string (nullable = true)
 |-- Body Style Description: string (nullable = true)

In [5]:
# B3
row_num = data_frame.count()
print(row_num)

13077724

In [6]:
# B4
data_frame.rdd.getNumPartitions()

16

In [7]:
# B5 Drop the columns VIN, Latitude and Longitude

columns_to_drop = ["VIN", "Latitude", "Longitude"]
data_frame_2 = data_frame.drop(*columns_to_drop)
data_frame_2.printSchema()

root
 |-- Ticket number: string (nullable = true)
 |-- Issue Date: string (nullable = true)
 |-- Issue time: string (nullable = true)
 |-- Meter Id: string (nullable = true)
 |-- Marked Time: string (nullable = true)
 |-- RP State Plate: string (nullable = true)
 |-- Plate Expiry Date: string (nullable = true)
 |-- Make: string (nullable = true)
 |-- Body Style: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Route: string (nullable = true)
 |-- Agency: string (nullable = true)
 |-- Violation code: string (nullable = true)
 |-- Violation Description: string (nullable = true)
 |-- Fine amount: string (nullable = true)
 |-- Agency Description: string (nullable = true)
 |-- Color Description: string (nullable = true)
 |-- Body Style Description: string (nullable = true)

In [8]:
# B6
import pyspark
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType

In [10]:
# B6
max_fine_df = data_frame_2\
              .withColumn("Fine amount", data_frame_2["Fine amount"].cast(FloatType()))\
              .groupBy("Fine amount")\
              .agg({"Fine amount": 'count'})\
              .orderBy("Fine amount", ascending=False)

max_fine_df.show(3)

+-----------+------------------+
|Fine amount|count(Fine amount)|
+-----------+------------------+
|     1100.0|               626|
|     1000.0|              1672|
|      505.0|                 6|
+-----------+------------------+
only showing top 3 rows

In [11]:
# B6
max_fine_df.printSchema()

root
 |-- Fine amount: float (nullable = true)
 |-- count(Fine amount): long (nullable = false)

In [13]:
# B7 Show the top 20 most frequent vehicle makes, and their frequencies
make_df = data_frame_2\
        .groupBy("Make")\
        .agg({"Make": 'count'})\
        .orderBy("count(Make)", ascending=False)

make_df.show()

+----+-----------+
|Make|count(Make)|
+----+-----------+
|TOYT|    2150768|
|HOND|    1479996|
|FORD|    1116235|
|NISS|     945133|
|CHEV|     892676|
| BMW|     603092|
|MERZ|     543298|
|VOLK|     432030|
|HYUN|     404917|
|DODG|     391686|
|LEXS|     368420|
| KIA|     328155|
|JEEP|     316300|
|AUDI|     255395|
|MAZD|     242344|
|OTHR|     205546|
| GMC|     184889|
|INFI|     174315|
|CHRY|     159948|
|SUBA|     154640|
+----+-----------+
only showing top 20 rows

In [14]:
# B7
# Rename a column
make_df = make_df.withColumnRenamed('count(Make)','count_make')
# Add frequency
make_df = make_df.withColumn('make_frequency', make_df.count_make/row_num)

make_df.show(20)

+----+----------+--------------------+
|Make|count_make|      make_frequency|
+----+----------+--------------------+
|TOYT|   2150768|  0.1644604214005434|
|HOND|   1479996| 0.11316923342318587|
|FORD|   1116235|  0.0853539193823023|
|NISS|    945133| 0.07227045011807864|
|CHEV|    892676|  0.0682592781435057|
| BMW|    603092| 0.04611597553213388|
|MERZ|    543298| 0.04154377321313709|
|VOLK|    432030| 0.03303556490410717|
|HYUN|    404917|0.030962344823915845|
|DODG|    391686|0.029950624435872788|
|LEXS|    368420|0.028171568691922232|
| KIA|    328155| 0.02509266903017681|
|JEEP|    316300|0.024186165727308515|
|AUDI|    255395|0.019529009787941694|
|MAZD|    242344| 0.01853105326278487|
|OTHR|    205546| 0.01571726089340928|
| GMC|    184889|0.014137704695404185|
|INFI|    174315|0.013329154216742913|
|CHRY|    159948| 0.01223056856070674|
|SUBA|    154640|0.011824687537372711|
+----+----------+--------------------+
only showing top 20 rows

In [15]:
# B8
from pyspark.sql.types import StringType

COLORS = {
'AL':'Aluminum', 'AM':'Amber', 'BG':'Beige', 'BK':'Black', 
'BL':'Blue', 'BN':'Brown', 'BR':'Brown', 'BZ':'Bronze', 
'CH':'Charcoal', 'DK':'Dark', 'GD':'Gold', 'GO':'Gold', 
'GN':'Green', 'GY':'Gray', 'GT':'Granite', 'IV':'Ivory', 
'LT':'Light', 'OL':'Olive', 'OR':'Orange', 'MR':'Maroon', 
'PK':'Pink', 'RD':'Red', 'RE':'Red', 'SI':'Silver', 'SL':'Silver', 
'SM':'Smoke', 'TN':'Tan', 'VT':'Violet', 'WT':'White', 'WH':'White', 
'YL':'Yellow', 'YE':'Yellow', 'UN':'Unknown'
}

COLORS

{'AL': 'Aluminum',
 'AM': 'Amber',
 'BG': 'Beige',
 'BK': 'Black',
 'BL': 'Blue',
 'BN': 'Brown',
 'BR': 'Brown',
 'BZ': 'Bronze',
 'CH': 'Charcoal',
 'DK': 'Dark',
 'GD': 'Gold',
 'GO': 'Gold',
 'GN': 'Green',
 'GY': 'Gray',
 'GT': 'Granite',
 'IV': 'Ivory',
 'LT': 'Light',
 'OL': 'Olive',
 'OR': 'Orange',
 'MR': 'Maroon',
 'PK': 'Pink',
 'RD': 'Red',
 'RE': 'Red',
 'SI': 'Silver',
 'SL': 'Silver',
 'SM': 'Smoke',
 'TN': 'Tan',
 'VT': 'Violet',
 'WT': 'White',
 'WH': 'White',
 'YL': 'Yellow',
 'YE': 'Yellow',
 'UN': 'Unknown'}

In [17]:
# B8

def color_to_long(COLORS):
    def color_to_long_(col):
        if COLORS.get(col) is not None:
            return COLORS.get(col)
        else:
            return col
    return udf(color_to_long_, StringType())


# User-defined function. Input type is a string.
# udf_color_to_color_long = udf(color_to_color_long, StringType())


color_long_df = data_frame_2\
    .withColumn("color_long", color_to_long(COLORS)("color"))

color_long_df.show(10)

+-------------+--------------------+----------+--------+-----------+--------------+-----------------+----+----------+-----+------------------+-----+------+--------------+---------------------+-----------+------------------+-----------------+----------------------+----------+
|Ticket number|          Issue Date|Issue time|Meter Id|Marked Time|RP State Plate|Plate Expiry Date|Make|Body Style|Color|          Location|Route|Agency|Violation code|Violation Description|Fine amount|Agency Description|Color Description|Body Style Description|color_long|
+-------------+--------------------+----------+--------+-----------+--------------+-----------------+----+----------+-----+------------------+-----+------+--------------+---------------------+-----------+------------------+-----------------+----------------------+----------+
|   1103341116|2015-12-21T00:00:...|      1251|    null|       null|            CA|           200304|HOND|        PA|   GY|   13147 WELBY WAY|01521|     1|        4000A1|   NO EVIDENCE OF REG|         50|              null|             null|                  null|      Gray|
|   1103700150|2015-12-21T00:00:...|      1435|    null|       null|            CA|           201512| GMC|        VN|   WH|     525 S MAIN ST| 1C51|     1|        4000A1|   NO EVIDENCE OF REG|         50|              null|             null|                  null|     White|
|   1104803000|2015-12-21T00:00:...|      2055|    null|       null|            CA|           201503|NISS|        PA|   BK|     200 WORLD WAY|  2R2|     2|          8939|           WHITE CURB|         58|              null|             null|                  null|     Black|
|   1104820732|2015-12-26T00:00:...|      1515|    null|       null|            CA|             null|ACUR|        PA|   WH|     100 WORLD WAY| 2F11|     2|           000|               17104h|       null|              null|             null|                  null|     White|
|   1105461453|2015-09-15T00:00:...|       115|    null|       null|            CA|           200316|CHEV|        PA|   BK|GEORGIA ST/OLYMPIC|1FB70|     1|         8069A| NO STOPPING/STANDING|         93|              null|             null|                  null|     Black|
|   1106226590|2015-09-15T00:00:...|        19|    null|       null|            CA|           201507|CHEV|        VN|   GY|SAN PEDRO S/O BOYD|1A35W|     1|        4000A1|   NO EVIDENCE OF REG|         50|              null|             null|                  null|      Gray|
|   1106500452|2015-12-17T00:00:...|      1710|    null|       null|            CA|           201605|MAZD|        PA|   BL|   SUNSET/ALVARADO|00217|     1|          8070| PARK IN GRID LOCK ZN|        163|              null|             null|                  null|      Blue|
|   1106500463|2015-12-17T00:00:...|      1710|    null|       null|            CA|           201602|TOYO|        PA|   BK|   SUNSET/ALVARADO|00217|     1|          8070| PARK IN GRID LOCK ZN|        163|              null|             null|                  null|     Black|
|   1106506402|2015-12-22T00:00:...|       945|    null|       null|            CA|           201605|CHEV|        PA|   BR|    721 S WESTLAKE| 2A75|     1|        8069AA|     NO STOP/STAND AM|         93|              null|             null|                  null|     Brown|
|   1106506413|2015-12-22T00:00:...|      1100|    null|       null|            CA|           201701|NISS|        PA|   SI|   1159 HUNTLEY DR| 2A75|     1|        8069AA|     NO STOP/STAND AM|         93|              null|             null|                  null|    Silver|
+-------------+--------------------+----------+--------+-----------+--------------+-----------------+----+----------+-----+------------------+-----+------+--------------+---------------------+-----------+------------------+-----------------+----------------------+----------+
only showing top 10 rows

In [19]:
# B9 The most frequent colour value for Toyotas (TOYT)

color_long_df.filter(color_long_df["Make"] == "TOYT")\
        .groupBy("color_long")\
        .agg({"color_long": 'count'})\
        .orderBy('count(color_long)', ascending=False)\
        .take(1)

[Row(color_long='Gray', count(color_long)=489697)]

In [20]:
# release the cores for another application!
spark_context.stop()